<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>

<div>
	<img
		src="https://media2.giphy.com/media/BlVnrxJgTGsUw/giphy.gif?cid=e16717f8138ea6fc667a35b6f382d5e9a378be40bcdcba5b&rid=giphy.gif">
</div>