<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>


<div>
	{{!-- 4/7 jumbo tron sort to left--}}
	<img
		src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
	<h2>Movie Title</h2>
	<br>
	<li>Director</li>
	<li>Plot</li>
	<li>Rating</li>
</div>